@(currentPage: Page[Posts],following:Long,followed:Long,usernow:String,postTemp:Posts,psTemp:Long)
@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int) = @{  
    // Generate the link
    routes.Twitter.twitters(newPage)
    
}

@main("Home Page") {

<div class="body" >
		<div style="display:table;width:100%;min-height:500px">
			<div style="display:table-row">
			<div style='display:table;padding-left:20px;width:76%'>
				<div style='display:table-row;'>
				<div style="display:table-cell;width:30%;">
                                                        いまなにしますか？
				</div>
				<div style="display:table-cell;text-align:right	;width:70%;">
                	    140文字で入力してください。
				</div>
				</div>
			</div>
				
				@helper.form(routes.Twitter.addpost) {
				<script type="text/javascript">
				 function textLimit(field, maxlen) {
					if (field.value.length > maxlen + 1){
					        alert('your input has been truncated!');
					}
					if (field.value.length > maxlen)
					field.value = field.value.substring(0, maxlen);
					} 
				</script>
				<textarea rows="4" cols="50" style="width:72%;margin:20px;margin-top:0px" name="postcontent" onkeyup="textLimit(this, 40);"></textarea>

				<div style="display:table;width:72%;margin-bottom:30px;">
					<div style="display:table-row">
						<div style="display:table-cell;width:80%;padding-left:50px">
                              <h5>最新のつぶやき:</h5><p> @postTemp.post_content。@postTemp.post_time</p>
						</div>
						<div style="display:table-cell;width:20%">
							<button class='post-button'style="float:right" class="btn" disabled="disabled">投稿する</button>
						</div>
					</div>
				</div>
				}
				<style type="text/css">
					.feed{
						border:0px;width:100%;margin-top:40px;
					}
					.ul-feed{
						list-style: none;
					}
					.ul-feed li{
						border:0px;
						border-bottom: 1px black;
						border-style: dotted;

						width: 70%;
						margin: auto;
						margin-top:20px;
					}
					.post-time{
						font-size: 10px;
					}
					.account-div div{
						border-style: solid;
						border:1px black;
						background-color: rgb(221, 238, 246);
					}
				</style>
				<script type="text/javascript">
					$('textarea').keyup(function(){

						if($(this).val().length>0)
							$('.post-button').removeAttr('disabled');
						else
							$('.post-button').attr('disabled', 'disabled');
					});
				</script>
				<script type="text/javascript">
					$(document).ready(function(e){
						$('.delete-post').click(function(e){
							var res = confirm('Sure you want to delete this tweet?There is NO undo?');
							console.log(res);
							if(res){
								
							}else{
								e.preventDefault();
								return;
							}
						});
					});
				</script>
				<h3>ホーム</h3>
				<div style="display:table;border:0px;border-top:1px black;border-style:dotted;width: 94%;">
					<div style="display:table-row">
						<div class='feed' style="display:table-cell;width:75%">
						@if(currentPage.total == 0) {
        
        				<div class="well" style="background-color:red;">
            			<em>Nothing tweet</em>
        				</div>
        
    					} else {
    					<ul class='ul-feed'>
    					@Option(currentPage.items).filterNot(_.isEmpty).map { posts =>
    					@for(post <- posts.toList) {
    						<li>
									<p>
										<a href="@routes.Twitter.usertwitter(0,post.post_username)">@post.post_username</a>:
										 @if(post != null) {
                        					@post.post_content
                        				}
									</p>
									<div>
										<div class='post-time'>
											@if(post != null) {
				                           		@post.post_time
				                           		}
	                        	@if(post.post_username == usernow) {
	                        	

	                        	
	                        	@form(routes.Twitter.del(post.post_id,currentPage.page), 'class -> "topRight") {
	                        		<input type="submit" value=' ' style='float:right;width:25px;height:25px;background-image:url("@routes.Assets.at("images/delete.png")")' class="delete-post">
	                        	}
	                        	
	                        	}
    						}

    					}
					                     
										
										</div>
									        <div id="pagination" class="pagination" style="float:right">
									            <ul>
									                @currentPage.prev.map { page =>
									                    <li class="prev">
									                        <a href="@link(page)">≪ 前へ</a>
									                    </li>
									                }.getOrElse {
									                    <li class="prev disabled">
									                        <a>≪ 前へ</a>
									                    </li>
									                }
									                @currentPage.next.map { page =>
									                    <li class="next">
									                        <a href="@link(page)">次へ　≫</a>
									                    </li>
									                }.getOrElse {
									                    <li class="next disabled">
									                        <a>次へ　≫</a>
									                    </li>
									                }
									            </ul>
									        </div>
									        
									    }
									    </ul>
										</div>
									</div>

								</li>

							</ul>
						</div>

						<div style="display:table-cell;width:25%;padding:40px;background-color: rgb(221, 238, 246);" class='account-div'>
							<div>
								<p>@usernow</p>
							</div>
							<div style="display:table;width:100%">
								<div style="display:table-row">
									<div style="display:table-cell;width:33.3333333%">
										<b>@following</b>
										<br>
										<a href="@routes.Follow.getfollow(0,0)">フォローしている</a>
										</div>
									<div style="display:table-cell;width:33.3333333%">
										<b>@followed</b>
										<br>
										<a href="@routes.Follow.getfollow(0,1)">フォローされている</a>
									</div>
									<div style="display:table-cell;width:33.3333333%">
										<b>@psTemp</b>
										<br>
										<a href="@routes.Twitter.usertwitter(0,usernow)">投稿数</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="footer">
}

            
